
<div class="container-fluid wow bounceInDown animated" data-wow-delay="1s">
    <h2 class="center-subhead">A seameless platform to invest in real estate properties.</h2>
    <h3 class="col-xs-12 text-center section-center-head">How it works?</h3>
    <div class="steps">
        <div class="step one wow fadeIn animated" data-wow-delay="1.6s">
            <em></em>
            <p>Search to Invest</p>
        </div>
        <div class="step two wow fadeIn animated" data-wow-delay="1.9s">
            <em></em>
            <p>Choose Your Share</p>
        </div>
        <div class="step three wow fadeIn animated" data-wow-delay="2.2s">
            <em></em>
            <p>Create Portfolio</p>
        </div>
        <div class="step four wow fadeIn animated" data-wow-delay="2.5s">
            <em></em>
            <p>Manage Earnings</p>
        </div>
    </div>
    <div class="intro-navigation col-xs-12 wow fadeIn animated" data-wow-delay="2.8s">
        <div class="col-xs-4 col-xs-offset-2 text-center box" ng-click="gotoPage('packages')">
            <p>Explore RealPage powered Investment Packages</p>
        </div>
        <div class="col-xs-4 text-center box" ng-click="gotoPage('search')">
            <p>View Properties</p>
        </div>
    </div>
</div>
